// Override USWDS mixin to use updated asset path

@mixin at-font-face($display-name, $file-path, $font-weight, $font-style) {
  @font-face {
    font-family: $display-name;
    font-style: unquote($font-style);
    font-weight: $font-weight;
    font-display: fallback;
    src: url("../#{$file-path}.woff2") format('woff2'),
         url("../#{$file-path}.woff") format('woff'),
         url("../#{$file-path}.ttf") format('truetype');
  }
}
