_site
.sass-cache
.jekyll-metadata
node_modules
.bundle
.jekyll-cache/
.DS_Store
.lycheecache
lychee-out.md
_config*.yml
assets/fonts/**/*
assets/img/uswds/**/*
assets/css/styles.css
assets/css/styles.css.map