// "small" logo variant used for CG branding adjacent to Federalist logo
.usa-logo--small,
.usa-header--extended .usa-logo--small {
  @include at-media($theme-header-min-width) {
    img {
      width: units(15);
    }
  }
}

.usa-logo--small + .usa-logo {
  @include at-media($theme-header-min-width) {
    margin-top: units(-2);
  }
}


p.pages-arrow {
  @include u-color('ink');
  @include u-font-family('ui');


  display: block;

  &:before {
    content: '\02192';
    display: inline-block;
    @include u-padding-right('105');
    @include u-text('secondary-vivid');
    font-family: 'Times New Roman', Arial, sans-serif;
  }
}

.pages-card {
  border-width: 1px;
  border-style: solid;
  border-color: #c6cace;
  border-style: solid;
}