<footer class="usa-footer site-footer" role="contentinfo">
  <div class="footer-section-bottom">
    <div class="grid-container">
      <div class="grid-col-8 margin-y-2 tablet:grid-col-auto">
        <img src="{{ site.baseurl }}/assets/images/content/cloud-gov-logo.svg" alt="cloud.gov" class="width-card-lg">
      </div>
      <div class="grid-col-fill"></div>
      <div class="grid-col-4 padding-y-3 tablet:grid-col-auto">
        <ul class="add-list-reset">
          <li><a href="https://cloud.gov/docs/help/#support-for-people-who-use-cloud-gov">Get help for customer issues</a></li>
          <li><a href="https://18f.gsa.gov/">Built by 18F</a></li>
        </ul>
        <ul class="add-list-reset">
          <li>
            <a href="https://cloud.gov/docs/ops/repos/">Open source and in the public domain</a>
          </li>
          <li>
            <a href="https://www.gsa.gov/vulnerability-disclosure-policy">Vulnerability disclosure policy</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
