<footer class="usa-footer site-footer" role="contentinfo">
  <div class="footer-section-bottom">
    <div class="grid-container">
      <div class="grid-row padding-y-3">
        <div class="tablet:grid-col-5">
            <a class="footer-logo media_link float-left padding-right-2" href="https://gsa.gov">
              <img src={{site.baseurl}}/assets/images/logos/GSA-logo.svg alt="GSA Logo" width="50"/>
            </a>
          Cloud.gov is a product of the <a href="https://www.gsa.gov/">General Services Administration.</a>
        </div>
        <div class="tablet:grid-col-3">
          <ul class="add-list-reset">
            <li><a href="https://cloud.gov/">cloud.gov home</a></li>
            <li><a href="https://cloud.gov/docs/help/#support-for-people-who-use-cloud-gov">Get help for customer issues</a></li>
            <li><a href="https://18f.gsa.gov/">Built by 18F</a></li>
          </ul>
        </div>
        
        <div class="tablet:grid-col-4">
          <ul class="add-list-reset">
            <li>
              A United States government platform
            </li>
            <li>
              <a href="https://cloud.gov/docs/ops/repos/">Open source and in the public domain</a>
            </li>
            <li>
              <a href="https://www.gsa.gov/vulnerability-disclosure-policy">Vulnerability disclosure policy</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
