{% comment %} 
The sidenav is not loaded by default on the main pages. To include this navigation you can either use the
_layouts/page.html layout template, or you can add "sidenav: true" in the front-matter of your pages
{% endcomment %}

<aside class="usa-layout-docs-sidenav desktop:grid-col-4 padding-bottom-4">
  <nav>
    <ul class="usa-sidenav">
      
      {% for nav_item in include.documentation_navigation %}
      {% assign nav_id = 'side-nav-' | append: forloop.index %}

      {% assign url_dirs = page.url | remove_first: '/' | split: '/' %}
      {% assign relevant_parent = url_dirs[1] %}
      <li class="usa-sidenav__item">
        <a class="usa-sidenav__item--parent-item {% if relevant_parent == nav_item.identifier %}usa-current{% endif %}"
        {% if relevant_parent == nav_item.identifier %}aria-expanded=true{% else %}aria-expanded=false{% endif %}
      aria-controls="{{ nav_id }}" >
          {% if nav_item.icon %}
          <i class='fa fa-fw {{ nav_item.icon }}'></i>
          {% endif %}
          {{ nav_item.name | escape }}
        </a>
        {% unless nav_item.children %}
        <ul class="usa-sidenav__sublist {% if relevant_parent != nav_item.identifier %}display-none{% endif %}"
         id="{{ nav_id }}" aria-hidden="true">
          {% for docpage in site.docs %}
          {% if nav_item.identifier == docpage.parent %}
          <li class="usa-sidenav__item">
            <a href="{{ docpage.url }}" class="{% if docpage.url == page.url %}usa-current{% endif %}">{{ docpage.title }}</a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </li>
      {% else %}
        <ul class="usa-sidenav__sublist {% if relevant_parent != nav_item.identifier %}display-none{% endif %}" aria-hidden="true">
          {% for subnav_item in nav_item.children %}
          <li class="usa-sidenav__item">
            <a href="{{ subnav_item.url | prepend: site.baseurl }}">{{ subnav_item.name | escape }}</a>
            <ul class="usa-sidenav__sublist">
              {% for docpage in site.docs %}
                  {% if sub_child.identifier == docpage.parent %}
                  <li class="usa-sidenav__item">
                    <a href="{{ docpage.url }}">{{ docpage.title }}</a>
                  </li>
                  {% endif %}
                {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endunless %}
      
      {% endfor %}
    </ul>
  </nav>
</aside>