#home {
  background-color: #ffffff;
  color: #43403c;
}
#home h1 {
  font-size: 54px;
  font-weight: 800;
  line-height: 1.15;
  letter-spacing: -.0325em;
  max-width: 670px;
}
#home section:not(:first-of-type) h1{
  margin-bottom: 80px;
}
#home #main h1 {
  letter-spacing: -.0325em;
  max-width: 900px;
}
#home #main h1 a {
  color: #ff5235;
  text-decoration: none;
}
#home #main h1 a {
  display: inline-block;
  padding-right: 40px;
  text-decoration: none;
  background: url(/img/angle-arrow-right-orange.svg) right 20px no-repeat;
  background-size: 30px 30px;
}
#home h3,
#home h4 {
  font-size: 24px;
  line-height: 1.2;
}
#home h3 {
  font-weight: 600;
  margin-bottom: 6px;
}
#home h4  {
  font-weight: 500;
  margin-bottom: 50px;
}
#home section .editorial-grid h5 {
  font-size: 1em;
  line-height: 1.2;
  font-weight: 500;
  margin-top: 10px;
  padding-right: 40px;
}
#home section .editorial-grid h5 a {
  text-decoration: none;
  color: #28517b;
}
#home section a:not(.usa-button):hover {
  border-bottom: 1px dotted #02699b;
}
#home section {
  padding-top: 60px;
  padding-bottom: 40px;
}
#home #main ul {
  padding: 0;
  margin: 30px 0 0 0;
  list-style: none;
  max-width: 500px;
}
#home #main ul li {
  font-size: 27px;
}
#home #main ul li a,
#home ul.button-list li a {
  color: #43403c;
  /*color: #02699b;*/
  display: block;
  padding: 5px 0 15px 0;
  border-bottom: 1px solid #b5b6c3;
}
#home #main ul li:first-of-type a,
#home ul.button-list li:first-of-type a {
  border-top: 1px solid #b5b6c3;
  padding-top: 20px
}
#home #main ul li a::before {
  content: '\02192';
  display: inline-block;
  width: 40px;
  color: #ff5235;
  /*color: #02699b;*/
  font-family: 'Times New Roman', Arial, sans-serif;
}
#home section:nth-of-type(2) article p {
  font-size: 1.325em; /* 24px */
  line-height: 1.5;
  max-width: 576px;
}
#home .bar-top {
  position: relative;
  margin-top: 30px;
  padding-top: 30px;
}
#home section:nth-of-type(2) article p.bar-top {
  /*margin-top: 60px;*/
  padding-top: 45px;
  letter-spacing: -.02em;
}
#home section:nth-of-type(2) article p.bar-top > a:not(.usa-button) {
  /*color: #02699b;*/
  color: #ff5235;
  font-weight: 500;
}
#home .bar-bottom {
  position: relative;
  margin-bottom: 60px;
  padding-bottom: 50px;
}
#home .bar-top:before {
  background-color: #b5b6c3;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 45px;
}
#home .bar-bottom:after {
  background-color: #b5b6c3;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  bottom: 0;
  width: 45px;
}
#home section article.usa-width-one-third {
  padding-bottom: 30px;
}
#home section article p {
  font-size: 1.125em; /* 18px */
  font-family: '18Franklin-webfont', system, -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; /* $font-sans */
  font-weight: 400;
  line-height: 1.5;
}
#home section .editorial-grid:first-of-type {
  padding-bottom: 120px;
}
#home section .editorial-grid .editorial-width-one-sixth object[type="image/svg+xml"] {
  width: 75px;
  height: 75px;
}
#home section .editorial-grid .agency-ATF {
  padding-top: 75px;
  background: url(/img/logos/ATF-logo.svg) left top no-repeat;
  background-size: 75px 75px;
}
#home section .editorial-grid .agency-DOE {
  padding-top: 75px;
  background: url(/img/logos/Dept-of-Education-logo.svg) 0 0 no-repeat;
  background-size: 75px 75px;
}
#home section .editorial-grid .agency-DOI {
  padding-top: 75px;
  background: url(/img/logos/DOI-logo.svg) 0 0 no-repeat;
  background-size: 75px 75px;
}
#home section .editorial-grid .agency-FBI {
  padding-top: 75px;
  background: url(/img/logos/FBI-logo.svg) 0 0 no-repeat;
  background-size: 75px 75px;
}
#home section .editorial-grid .agency-FEC {
  padding-top: 75px;
  background: url(/img/logos/FEC-logo.svg) 0 0 no-repeat;
  background-size: 75px 75px;
}
#home section .editorial-grid .agency-GSA {
  padding-top: 75px;
  background: url(/img/logos/GSA-logo.svg) 0 0 no-repeat;
  background-size: 75px 75px;
}
#home section .editorial-grid .agency-IRS {
  padding-top: 75px;
  background: url(/img/logos/IRS-logo.svg) 0 0 no-repeat;
  background-size: 75px 75px;
}
#home section .editorial-content p {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 30px;
  line-height: 1.5;
  margin-bottom: 40px;
}
#home section .editorial-grid h5 + p.bar-top {
  font-family: '18Franklin-webfont', system, -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; /* $font-sans */
  font-size: 1em;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 50px;
}
#home section .editorial-grid h5 + p.bar-top:before {
  height: 0;
}
#home section .editorial-content p.byline {
  font-size: 18px;
  font-family: '18Franklin-webfont', system, -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; /* $font-sans */
}
#home section:nth-of-type(2) article h2 + p {
  font-size: 1em; /* 16px */
  line-height: 1.75;
  font-weight: 600;
  margin-top: 50px;
}
#home section:nth-of-type(2) article .caption,
#home .caption {
  font-family: '18Franklin-webfont', system, -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; /* $font-sans */
  font-size: 13px;
  line-height: 1.2;
}
#home section .button,
#home .usa-button {
  display: block;
  background-color: rgba(251,97,60,1);    /*background-color: #ff5235;*/
  padding: 15px 20px;
  color: #000;
  margin: 30px 0;
  font-family: '18Franklin-webfont', system, -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; /* $font-sans */
  font-size: 20px; /* 20px */
  font-weight: 500;
  max-width: 320px;
  border-radius: 3px;
}
#home section .button:hover,
#home .usa-button:hover {
  background-color: rgba(251,97,60,.85);   /*background-color: #ff5235;*/
}
#home section .button-secondary {
  background-color: rgba(0,174,227,1);
  padding: 15px 20px;
  margin: 30px 0;
  font-family: '18Franklin-webfont', system, -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; /* $font-sans */
  font-size: 20px; /* 20px */
  font-weight: 500;
  max-width: 320px;
}
#home section .button-secondary:hover {
  background-color: rgba(0,174,227,.85);
}
#home section .button span {
  color: #fff;
  font-family: 'Times New Roman', Arial, sans-serif;
}
#home section article ul {
  padding: 0 0 0 16px;
  font-size: 1.125em; /* 18px */
  line-height: 1.5;
}
#home section article ul li {
  margin-top: 18px;
}
#home section article ul li:first-of-type {
  margin-top: 0;
}
#home ul.button-list {
  display: block;
  height: auto;
  overflow: hidden;
  padding-left: 0;
  padding-top: 10px;
}
#home section ul.button-list li {
  list-style: none;
}
#home h2 {
  font-size: 1.5em; /* 24px */
  line-height: 1.325;
  font-weight: 700;
  letter-spacing: -.02em;
  margin-top: 30px;
  margin-bottom: 60px;
}
#home section:nth-of-type(2) h2 {
  margin-bottom: 45px;
}
#home .button-link {
  color: #43403c;
  display: block;
  padding: 15px 0;
  border-top: 1px solid #b5b6c3;
  border-bottom: 1px solid #b5b6c3;
}
#home .button-link::before {
  content: '\02192';
  display: inline-block;
  width: 30px;
  color: #ff5235;
  font-family: 'Times New Roman', Arial, sans-serif;
}
#home section.section-resources {
  margin-top: 60px;
  padding-top: 120px;
  padding-bottom: 120px;
  border-top: 1px solid #b5b6c3;
}
#home section.section-resources h2 {
  font-size: .875em;
  font-weight: 700;
  line-height: 1.3;
  margin: 0;
  color: #333;
  text-transform: uppercase;
  letter-spacing: .05em;
}
#home section.section-resources .eyebrow {
  margin-top: 80px;
  margin-bottom: 18px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .03em;
}
#home section.section-resources p {
  font-size: 1.5em;
  line-height: 1.5;
  font-family: '18Franklin-webfont', system, -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; /* $font-sans */
}
#home section.section-resources .eyebrow + p {
  margin-top: 0;
}
#home section.section-resources .caption {
  font-family: '18Franklin-webfont', system, -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; /* $font-sans */
  font-size: 13px;
  line-height: 1.2;
}
#home section.section-resources a {
  color: #02699b;
}
#home section.section-resources a:hover {
  border-bottom: 1px dotted #02699b;
}
#home a .fa.fa-fw {
  color: #fb613c;
}
#home .button-list a:hover {
  border-bottom-color: #02699b;
}
#home #main h1 a:hover {
  color: #02699b;
  background-image: url(/img/angle-arrow-right-blue.svg);
  background-size: 30px 30px;
  padding-right: 40px;
  border-bottom: none;
}
#home #main ul li a:hover,
#home .button-list a:hover,
#home a.button-link:hover {
  color: #02699b;
}

#home a[href*=".com"],
#home a[href*=".io"] {
  padding-right: 23px;
  background: url(/img/link-icons/icon-external.svg) right center no-repeat;
}
#home .editorial-grid h4 + p a[href],
#home .editorial-grid h5 a[href] {
  padding-right: 20px;
  background: url(/img/link-icons/icon-external.svg) right center no-repeat;
}
#home .editorial-grid h4 + p a[href] {
  padding-right: 24px;
  background: url(/img/link-icons/icon-external.svg) right center no-repeat;
  background-size: 24px 24px;
}
#home .editorial-grid h5 a[href] {
  background-size: 20px 20px;
}

/** Pricing Styles ***************************/
#pricing h1,
#pricing h2:not(.header-title) {
  font-size: 48px;
  font-weight: 800;
  line-height: 1.15;
  letter-spacing: -.02em;
  max-width: 800px;
}
#pricing h1 .eyebrow {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .0325em;
  padding-bottom: 12px;
  display: block;
}
/* #pricing h2 {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -.02em;
  margin-bottom: 30px;
} */
#pricing h2 a {
  display: block;
  margin-bottom: 60px;
  text-decoration: none;
}
#pricing h2 a {
  margin-top: 180px;
}
#pricing h2.header-title a {
  margin-top: 0 !important;
}
#pricing h2#all-packages-include a,
#pricing h2#agency-wide-enablers a {
  margin-top: 90px;
}
#pricing h2 a:hover {
  color: #444;
}
#pricing h3 {
  font-size: 24px;
  position: relative;
  margin-top: 60px;
  padding-top: 30px;
}
#pricing h3:before {
  background-color: #b5b6c3;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 45px;
}
#pricing h4 {
  margin-top: 30px;
}
#pricing .usa-content {
  padding-left: 20px;
  padding-right: 20px;
}
#pricing #main {
  padding: 60px 0;
}
#pricing #main h1 + p,
#pricing .usa-grid > h2 + p,
#pricing h3 + p {
  font-family: '18Franklin-webfont', system, -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 18px;
  /* margin-top: 20px; */
}
#pricing #main h1 + p a {
  font-weight: 600;
  color: #02699b;
}
/* #pricing .usa-grid {
  padding-left: 0;
  padding-right: 0;
} */
#pricing .usa-grid > h2 + p,
#pricing h3 + p {
  font-size: 18px;
  /* margin-top: 20px; */
}
#pricing h3 + p {
  margin-bottom: 40px;
}
#pricing .usa-grid > h2 span {
  font-weight: 400;
}
#pricing .usa-grid p {
  font-family: '18Franklin-webfont', system, -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
#pricing .usa-grid > h2 + p {
  /* margin-top: 60px; */
  margin-bottom: 60px;
}
#pricing table {
  width: 100%;
  max-width: none;
}
#pricing table th,
#pricing table td {
  text-align: left;
  width: calc(25%);
  background-color: transparent;
  vertical-align: top;
}
#pricing table td {
  border-color: #ccc;
}
#pricing table td:first-child {
  font-weight: 600;
  color: #000;
}
#pricing #package-rates {
  display: block;
  width: 100%;
  max-width: none;
  list-style: none;
  padding: 0;
  margin-top: 40px;
  /* margin-bottom: 60px; */
}
#pricing ul {
  font-size: 14px;
}
#pricing #package-rates li {
  /* flex-flow: column; */
  width: calc(100% - 20px);
  margin-bottom: 60px;
  margin-right: 20px;
}
#pricing #package-rates li h2 {
  font-size: 24px;
  line-height: 1.325;
  font-weight: 700;
  padding-top: 120px;
  margin-top: 40px;
  margin-bottom: 0;
  color: #223e51;
}
#pricing #package-rates li h2.sandbox {
  background: url(/img/illustrations/pricing-sandbox.svg) no-repeat;
  background-size: 100px 100px;
}
#pricing #package-rates li h2.prototyping {
  background: url(/img/illustrations/pricing-prototype.svg) no-repeat;
  background-size: 100px 100px;
}
#pricing #package-rates li h2.production {
  background: url(/img/illustrations/pricing-fisma-moderate.svg) no-repeat;
  background-size: 100px 100px;
}
#pricing #package-rates li h2 + p {
  margin-top: 20px;
  padding: 30px 40px 30px 0;
  /* min-height: 69px; */
  font-size: 16px;
  font-weight: 500;
  /* font-family: Georgia, serif; */
  position: relative;
  color: #223e51; /* grey blue */
  /* bottom: 2px solid #111; */
}
#pricing #package-rates li h2 + p:before {
  background-color: #a1b2c2;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  top: 0;
  width: 30px;
}
#pricing #package-rates li p {
  font-family: '18Franklin-webfont', system, -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; /* $font-sans */
  font-size: 13px;
  padding: 10px 20px 20px 0;
  min-height: 65px;
  /* min-height: 75px; */
  line-height: 1.325;
}
#pricing #package-rates li p:not(:last-of-type) {
  border-bottom: 1px dotted #ccc;
}
#pricing #package-rates li p:first-of-type {
  border-bottom: 3px solid #a1b2c2;
}
#pricing #package-rates li p:nth-of-type(2){
  padding-top: 0;
  color: #223e51;
  min-height: 130px;
}
/* #pricing #package-rates li p:last-of-type {
  border-bottom: 2px solid #111;
} */
#pricing #package-rates li p span {
  display: block;
  margin-top: 6px;
}
#pricing #package-rates li p span strong {
  font-size: 24px;
}
#pricing #package-rates li p .button {
  display: inline-flex;
  margin-top: 10px;
  padding: 12px 40px;
  font-weight: 500;
  /* background-color: #446586; */
  /* background-color: #056dd4; */
  /* background-color: #ff5235; */
  background-color: #02699b; /* navy blue */
  border-radius: 3px;
  color: #fff;
}
#pricing #package-rates li:first-of-type p .button {
  background-color: #00aee3;
  color: #000;
}
#pricing #package-rates li p .button:hover {
  background-color: #3498db;
}
#pricing #package-rates .small-link {
  display: block;
  font-size: 12px;
  padding: 12px 0 24px 0;
}
#pricing .column-single {
  list-style: none;
  /* margin-bottom: 120px; */
  margin-bottom: 40px;
}
#pricing .column {
  margin: 60px 0 120px 0;
  max-width: 540px;
  column-count: 1;
  list-style: none;
}
#pricing .column:first-of-type {
  margin-bottom: 160px;
}
#pricing .column li,
#pricing .column-single li {
  padding-right: 30px;
}
#pricing .column-single li:before {
  content: "\f14a"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -28px; /* same as padding-left set on li */
  width: 24px;
  color: #3498db;
}
#pricing .add-on {
  list-style: none;
}
#pricing .horizontal-list {
  padding-bottom: 12px;
}
#pricing .horizontal-list li {
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  line-height: 1.5;
}
#pricing .horizontal-list.medium li {
  font-size: 18px;
  font-weight: 600;
  word-break: keep-all;
}
#pricing p + ul.horizontal-list.medium {
  margin-top: -20px;
  max-width: 100%;
  /* display: block; */
}
#pricing .add-on > li:before,
#pricing .column-single.add-on > li:before {
  content: "\f0fe"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -28px; /* same as padding-left set on li */
  width: 24px; /* same as padding-left set on li */
  color: #3498db;
}
#pricing .usa-width-one-half > p {
  font-family: '18Franklin-webfont', system, -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; /* $font-sans */
  /* margin-bottom: 30px; */
  padding-right: 60px;
  font-size: 14px;
  font-weight: 600;
}
#pricing .horizontal-list {
  padding-left: 0;
  margin-left: 0;
}
#pricing .horizontal-list li {
  display: inline-block;
}
#pricing .horizontal-list li:not(:last-of-type)::after {
  background-color: #bbb;
  content: '';
  display: inline-block;
  height: 1px;
  margin-bottom: 3px;
  width: 24px;
}
#pricing i.fa-plus-square {
  font-size: 16px;
  color: #3498db;
}
#pricing .estimator {
  padding: 200px 20px;
}
#pricing .estimator p {
  font-family: '18Franklin-webfont', system, -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; /* $font-sans */
}
#pricing .estimator ul {
  list-style: none;
  max-width: 100%;
  display: block;
  padding: 240px 0 30px 0;
}
#pricing .estimator ul li {
  width: calc(100%);
  flex-direction: column;
}
#pricing .estimator h4 {
  margin-top: 30px;
}
#pricing .estimator ul li p {
  font-size: 13px;
  line-height: 1.5;
  padding-right: 30px;
}
#pricing .estimator ul li p code {
  font-size: 12px;
  background-color: #fff;
}
#pricing .footnote {
  font-size: 12px;
  max-width: 500px;
}
#pricing .vspace-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
#pricing .vspace-60:last-of-type {
  padding-bottom: 120px;
}
#pricing a[href$=".pdf"] {
  padding-right: 18px;
  background: url(/img/link-icons/icon-pdf.svg) right center no-repeat;
}
#pricing .diagram {
  background: url(/img/illustrations/pricing-example.svg) center top no-repeat;
  background-size: contain;
  min-height: 200px;
  /* width: 90%; */
}
#pricing .usa-grid p.pricing-line-item {
  border-bottom: 1px dotted #444;
  /* font-family: "Roboto Mono","Bitstream Vera Sans Mono",Consolas,Courier,monospace; */
}
#pricing .pricing-line-item code {
  background-color: #fff;
  font-size: 80%;
}
#pricing .pricing-total {
  font-weight: 700;
  display: block;
  margin-top: 40px;
}
#pricing .pricing-total::before {
  clear: both;
}
#pricing .pricing-line-item span {
  font-family: "Roboto Mono","Bitstream Vera Sans Mono",Consolas,Courier,monospace;
}
#pricing .pricing-line-item span,
#pricing .pricing-total span {
  padding: 0 10px;
  float: right;
}
/** Media queries ****************************/

@media screen and (min-width: 600px) {
  #home #main h1 {
    font-size: 64px;
  }
  #home #main h1 a {
    display: inline-block;
    text-decoration: none;
    background: url(/img/angle-arrow-right-orange.svg) right 20px no-repeat;
    padding-right: 60px;
    background-size: 45px 45px;
  }
  #home #main h1 a:hover {
    padding-right: 60px;
    background-size: 45px 45px;
  }
  #home #main p {
    font-size: 1.6875em;
    max-width: 800px;
    margin-bottom: 50px;
  }
  #home .usa-width-one-third {
    width: 100%;
  }
  #pricing .estimator ul {
    display: flex;
  }
  #pricing .estimator ul li {
    width: calc(33%);
  }
  #pricing .diagram {
    min-height: 420px;
  }
}
@media screen and (min-width: 800px) {
  #pricing #package-rates {
    display: flex;
  }
  #pricing #package-rates li {
    flex-flow: column;
    width: calc(33%);
  }
  #pricing #package-rates li p {
    /* font-size: 14px; */
  }
  #pricing .column {
    /* margin: 60px 0; */
    max-width: none;
    column-count: 2;
    column-gap: 60px;
    /* list-style: none; */
  }
}
@media screen and (min-width: 960px) {
  #home .usa-width-one-third {
    width: calc(33%);
    margin-right: 0;
    padding-right: 40px;
  }
  #home .usa-width-one-third:last-of-type {
    padding-right: 0;
  }
  #home section:nth-of-type(2) h2 {
    max-width: 200px;
  }
  #home section:nth-of-type(4) p {
    min-height: 150px;
  }
  #home .usa-grid.editorial-grid {
    display: flex;
  }
  #home .usa-grid.editorial-grid .editorial-width-one-sixth,
  #home .usa-grid.editorial-grid .editorial-width-five-sixths {
    flex-flow: column;
  }
  #home .usa-grid.editorial-grid .editorial-width-one-sixth {
    width: 168px;
  }
  #home section .editorial-grid h5 {
    margin-top: 30px;
    min-height: 36px;
  }
  #home section .editorial-grid h5 + p.bar-top {
    position: relative;
    margin-top: 30px;
    padding-top: 30px;
  }
  #home section .editorial-grid h5 + p.bar-top:before {
    background-color: #b5b6c3;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 45px;
  }
}
