blockquote,
.env-block {
  margin-bottom: 24px; /* $grid-3 */
  margin-left: 16px; /* $grid-3 */
  margin-top: 24px; /* $grid-3 */
  position: relative;
}

blockquote::before,
.env-block::before {
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  content: '';
  height: 100%;
  left: -16px; /* -$grid-3 */
  position: absolute;
}

blockquote p,
blockquote li,
/* specificity for override */
.content-text blockquote li {
  font-family: '18Franklin-webfont', system, -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; /* $font-sans */
  font-size: 1rem; /* $sans-s5 */
  font-weight: 400;
  line-height: 1.6;
}

.env-specifier {
  color: #333; /* $color-textblack */
  font-family: '18Franklin-webfont', system, -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; /* $font-sans */
  font-size: 14px; /* $sans-s4 */
  font-weight: 400;
  padding-top: 12px;
}

.env-specifier strong {
  font-size: 14px; /* $sans-s4 */
  font-weight: 600;
}

.env-specifier a {
  color: #333; /* $color-textblack */
  text-decoration: underline;
}

.env-specifier + h2,
.env-specifier + h3,
.env-specifier + h4{
  margin-top: 8px; /* $grid-1 */
}

.env-govcloud .env-specifier,
.env-govcloud .env-specifier a {
  color: #333; /* $color-textblack */
}

.env-govcloud::before {
  border-color: #333; /* $color-textblack */
}

blockquote::before {
  border-color: #d3d3d3; /* $color-mediumgray */
}

.env-commandline .env-specifier,
.env-dashboard .env-specifier,
.env-commandline .env-specifier a
.env-dashboard .env-specifier a
{
  color: #333; /* $color-textblack */
}


.env-block pre{
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;
}

.ui-tabs-panel .env-block {
  margin-top: 0px;
  margin-bottom: 12px;
}

.ui-tabs-panel .env-block pre {
  padding: 0px 10px 10px 0px;
}

.tabs {
  margin-top: 20px;
  padding-top: 15px;
}

.ui-tabs-nav li.ui-tabs-active a.tab-note {
  border-bottom-color: #4ca3fa;
}

.ui-tabs-nav li a.tab-note {
  padding: 1px 0px 0px;
  float: left;
  font-size:12px;
}

.tabs > p {
  display: none;
}

.tabs .env-commandline {
  border-color: #333; /* $color-textblack */
}

.tabs .env-dashboard {
  border-color: #74B1DB;
}

.tabs .env-block {
  padding: 15px 0px 15px 25px;
  border-style: solid;
  border-width: 0px;
  border-left-width: 4px;
  margin-left: 0px;
}

.tabs .env-block::before {
  display: none;
}