
.bgcolor-deepblue {
  background-color: #1c304a;
}
.bgcolor-ltbluegrey {
  background-color: #e8ebee;
}
.bgcolor-ltputty {
  background-color: #f1f1f1;
}
.bgcolor-medputty {
  background-color: #e7e9eb;
}
.bgcolor-deepblue,
.bgcolor-ltbluegrey,
.bgcolor-ltputty,
.bgcolor-medputty {
  /*padding-left: 20px;
  padding-right: 20px;*/
}
.bgcolor-deepblue .usa-grid {
  padding-left: 0;
  padding-right: 0;
}
.hero {
  padding-top: 60px;
  padding-bottom: 150px;
  padding-left: 16px;
  padding-right: 16px;
  background: url(/img/peaks.svg) right bottom no-repeat;
  background-size: 1040px 148px;
}
.hero h1 {
  font-size: 54px;
  font-weight: 800;
  max-width: 500px;
  color: #00aee3;
  text-transform: uppercase;
  line-height: .9;
  letter-spacing: -.05em;
}

.hero p {
  color: #fff;
  font-family: '18Franklin-webfont', system, -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; /* $font-sans */
  font-size: 18px;
  max-width: 480px !important;
  padding-bottom: 30px;
}
.step {
  padding-top: 50px;
  padding-bottom: 100px;
}
.step h2 {
  color: #28517b;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: -.02em;
  line-height: 1;
  text-transform: uppercase;
  max-width: 540px;
  padding-top: 50px;
}
.step h2:before {
  content: '';
  display: block;
  padding-bottom: 80px;
  margin-bottom: 40px;
  /*border-bottom: 1px solid #28517b;*/
  width: 60px;
  height: 60px;
  border-bottom: 2px solid #28517b;
}
.step.first h2:before {
  content: '1';
}
.step.second h2:before {
  content: '2';
}
.step.third h2:before {
  content: '3';
}
.step p {
  font-family: '18Franklin-webfont', system, -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; /* $font-sans */
  font-size: 18px;
  max-width: 480px !important;
  padding-bottom: 30px;
}
.step form {
  margin-top: 20px;
}
.step form label {
  display: block;
  margin-bottom: 8px;
  font-size: 13px;
  font-weight: 500;
}
.step form input {
  margin: 0 0 10px 0;
  font-size: 16px;
  height: 60px;
  border: none;
  box-shadow: none;
}
.step form input[type=text] {
  max-width: 480px !important;
  display: inline-block;
}
.step form input[type=submit] {
  display: inline-block;
  background-color: #f53;
  color: #000;
}
.quickstart .eyebrow {
  display: block;
  padding: 12px 0;
  font-size: 12px;
  font-weight: 500 !important;
  letter-spacing: .05em;
  text-transform: uppercase;
}
.step h3 {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -.015em;
}
.content-resources {
  padding: 50px 0;
  display: flex;
}
.content-resources section {
  width: 100%;
}
.content-resources section article.usa-width-one-third {
  padding: 50px 0 0;
  min-width: 300px;
}
.content-resources section article iframe {
  padding: 10px;
  background-color: #fff;
  margin-bottom: 30px;
}
.content-resources section article.usa-width-one-third h4 {
  font-size: 18px;
  font-weight: 600;
}
.content-resources section article.usa-width-one-third p,
.content-resources section article.usa-width-one-third ul li {
  font-size: 13px;
  line-height: 1.5;
  padding: 0 30px 0 0;
  margin: 0;
}
.content-resources section article.usa-width-one-third p {
  margin-bottom: 15px;
}
.content-resources section article.usa-width-one-third ul {
  padding: 0;
  list-style-type: none;
}
.content-resources section article.usa-width-one-third ul li a {
  display: block;
  padding: 13px 30px 14px 0;
  border-bottom: 1px solid #ccc;
  background: url(/img/angle-arrow-right.svg) right center no-repeat;
  background-size: 7px 12px;
}
.content-resources section article.usa-width-one-third ul li:first-of-type a {
  border-top: 1px solid #ccc;
}
.usa-grid.content-resources {
  padding-left: 16px;
  padding-right: 16px;
}
.step .usa-button {
  /*color: #000;*/
  display: block;
  margin: 0 0 10px 0;
  font-size: 16px;
  padding: 22px 60px 23px 20px;
  text-align: left;
  background: #1c304a url(/img/angle-arrow-right-white.svg) right center no-repeat;
  background-size: 21px 12px;
}

@media all and (min-width: 480px) {
  .step form .form-wrapper {
    display: flex;
  }
  .hero h1 {
    font-size: 72px;
  }
  .step h2 {
    font-size: 48px;
  }
}
