<!doctype html>
<html lang="en">

  {{ partial "head-gtm.html" . }}

  <body id="pricing">

    {{ partial "gtm-body" . }}
    {{ partial "header.html" . }}

    <div class="usa-content">
      <section class="usa-grid" id="main">
        <h1>
          <span class="eyebrow">Pricing</span>
          Deliver great services with compliance and infrastructure automated behind the scenes.
        </h1>
        <p>
          <a href="mailto:cloud-gov-inquiries@gsa.gov">Contact us</a> for answers to your questions and help with an estimate, or to start an Interagency Agreement purchase.
        </p>

         <ul id="package-rates">
           <li>
             <h2 class="sandbox">Sandbox</h2>
             <p>
               A sandbox environment to run experiments to see if cloud.gov works for your team.
               <br>
               <br>
             </p>
             <p>
               <span><strong>Free</strong></span>
             </p>
             <p>
                Limited to 1GB memory
             </p>
             <p>
                Non-production systems; <br />
                systems cleared every 90 days
             </p>
             <p>
                Single environment
                <br>
                <br>
                <br>
             </p>
             <p>
               Non-production domain names
             </p>
             <!-- <p>
               Full access to Add-on (<i class="fa fa-fw fa-plus-square" aria-hidden="true"></i>) Services
             </p> -->
             <p>
               <a href="/signup/" class="button">Get started</a><br/>
               <a href="/docs/pricing/free-limited-sandbox/" class="small-link">About Sandbox packages &rarr;</a>
             </p>
           </li>
           <li>
             <h2 class="prototyping">Prototyping</h2>
             <p>
               Self-service workspaces for your organization to build non-production systems.
               <br>
               <br>
             </p>
             <p>
               <span><strong><sup>$</sup>1550</strong> &#47; month</span> 
               <span>for entire organization</span>
             </p>
             <p>
               <sup>$</sup>130 &#47; GB memory per month
             </p>
             <p>
               Non-production systems
             </p>
             <p>
                An environment for each of your teams
                <br>
                <br>
             </p>
             <p>
               Non-production domain names
             </p>
             <!-- <p>
               Full access to Add-on (<i class="fa fa-fw fa-plus-square" aria-hidden="true"></i>) Services
             </p> -->
             <p>
               <a href="mailto:cloud-gov-inquiries@gsa.gov?subject=Purchasing%20Prototyping%20Package" class="button" id="Prototyping-cta">Contact us</a><br/>
               <a href="/docs/pricing/prototyping/" class="small-link">About Prototyping packages &rarr;</a>
             </p>
           </li>
           
           <li>
             <h2 class="production">FISMA Low</h2>
             <p>
               Production environment ideal for hosting public information.
               <br>
               <br>
               <br>
             </p>
             <p>
               <span><strong><sup>$</sup>2070</strong> &#47; month</span>
               <span>FISMA Low system</span>
             </p>
             <p>
               <sup>$</sup>130 &#47; GB memory per month
             </p>
             <p>
               One system
             </p>
             <p>
               Multiple environments (e.g. dev, stage, prod) supporting one system
             </p>
             <p>
               Support for your agency domain name
             </p>
             <!-- <p>
               Full access to Add-on (<i class="fa fa-fw fa-plus-square" aria-hidden="true"></i>) Services
             </p> -->
             <p>
               <a href="mailto:cloud-gov-inquiries@gsa.gov?subject=Purchasing%20FISMA%20Low%20Package" class="button" id="FISMA-cta">Contact us</a><br/>
             </p>
           </li>
           
           
           <li>
             <h2 class="production">FISMA Moderate</h2>

             <p>
               Production environment for systems that need assurances in confidentiality, integrity, and availability.
             </p>
             <p>
               <span><strong><sup>$</sup>9300</strong> &#47; month</span>
               <span>FISMA Moderate </span> 
               <span>DoD Impact Level 2 system</span>
               <br />

               
             </p>
             <p>
               <sup>$</sup>130 &#47; GB memory per month
             </p>
             <p>
               One system
             </p>
             <p>
               Multiple environments (e.g. dev, stage, prod) supporting one system
             </p>
             <p>
               Support for your agency domain name
             </p>
             <!-- <p>
               Full access to Add-on (<i class="fa fa-fw fa-plus-square" aria-hidden="true"></i>) Services
             </p> -->
             <p>
               <a href="mailto:cloud-gov-inquiries@gsa.gov?subject=Purchasing%20FISMA%20Package" class="button" id="FISMA-cta">Contact us</a><br/>
             </p>
           </li>
         </ul>
      </section>




      <section class="usa-grid">
        <h2 id="estimate-your-monthly-cost"><a href="#estimate-your-monthly-cost">Estimate your monthly cost</a></h2>
        <p>
          Monthly costs are based on the package fee (i.e., Prototyping, FISMA Low, FISMA Moderate) plus memory usage. Memory quota cost are based on the amount of memory (RAM) that you reserve for your system (<sup>$</sup>130/GB RAM per month).
        </p>
        <p class="footnote">
          Most cloud.gov customers typically reserve 4–8 GB of memory to cover multiple applications across development, staging, and production environments.
        </p>
        <h3>Example</h3>
        <p>
          Suppose you have a FISMA Low app that requires 1 GB of memory. You will need 1 instance in dev, 1 instance in staging, and 2 in production. 
        </p>
        <div class="diagram"></div>
        <h4>
          Access Fee
        </h4>
        <p class="pricing-line-item">
          FISMA Low <span><sup>$</sup>2070</span>
        </p>
        <h4>
          Memory Quota Cost
        </h4>
        <p class="pricing-line-item">
          [ 1 GB + 2 GB + 1 GB ] x <sup>$</sup>130 <span><sup>$</sup>520</span>
        </p>
        <p class="pricing-total">
          Total monthly cost <span><sup>$</sup>2590</span>
        </p>
      </section>




      <section class="usa-grid">
        <h2 id="all-packages-include"><a href="#all-packages-include">All use of cloud.gov includes:</a></h2>

        <div class="usa-width-one-half">
          <p>
            Standard Services
          </p>          
          <ul class="column-single">
            <li>
              FedRAMP JAB-authorized hosting
            </li>
            <li>
              Self-service provisioning of services
            </li>
            <li>
              Self-service management of spaces and user access
            </li>
            <li>
              Self-service deployment of apps
            </li>
            <li>
              Basic technical and compliance support (during business hours)
            </li>
            <li>
              Documentation/tutorial material
            </li>
            <li>
              Continuous platform-level scanning and security updates
            </li>
            <li>
              Single-sign-on with your SAML identity provider
            </li>
            <li>
              Access to premium add-on services
            </li>
            <li>
              CDN route service (supporting caching, custom domains, and auto-renewing TLS certificates)
            </li>
          </ul>
        </div>

        <div class="usa-width-one-half">
          <p>
            <!-- Standard Services -->
          </p>

          <ul class="column-single">
            <li>
              S3 object store -  5TB included<br><i>  $100/month per additional terabyte</i>
            </li>
            <li>
              Postgres, MySQL, Oracle database - 1TB included<br><i>$300/month per additional additional terabyte</i>
            </li>
            <li>
              Elasticsearch RESTful search and analytics - 10 GB included<br><i>$100/month per additional gigabyte</i>
            </li>
            <li>
              Redis in-memory data store - 10GB included<br><i>$100/month per additional gigabyte</i>
            </li>
            
          </ul>
        </div>
      </section>
      


      <section class="usa-grid">

          <h2 id="not-included"><a href="#not-included">Additional information:</a></h2>
        
          <ul class="column-single">
          <li>
            We can provision high-performance instances of Postgres, MySQL, and Oracle databases. <a href="mailto:cloud-gov-inquiries@gsa.gov">Contact us</a> for more information.
          </li>

          <li>
            You’re responsible for operating and securing your own code and are responsible for complying with your agency’s requirements, which typically includes getting an ATO for your system.
        
          </li>
          </ul>

      </section>

    </div>


    {{ partial "footer.html" . }}
    {{ partial "javascript.html" . }}

  </body>
</html>