<div class="usa-logo-composite">
  <div class="usa-logo-composite__parent">
    <em class="usa-logo-composite__text"><a href="{{site.baseurl}}/" title="{{site.title}}" aria-label="{{site.title}}">
      <img src={{site.baseurl}}/assets/img/cloud-gov-logo.svg alt="{{site.title}}" />
    </a></em>
  </div>
  <div class="usa-logo-composite__logo">
    <em class="usa-logo-composite__text"><a href="{{site.baseurl}}/pages/" title="cloud.gov Pages Home" aria-label="cloud.gov Pages Home">
      <img src={{site.baseurl}}/assets/pages/images/pages-logo-blue.svg alt="cloud.gov Pages logo" />
    </a></em>
  </div>
</div>
