<div class="usa-logo usa-logo--small">
  <em class="usa-logo__text"><a href="{{site.baseurl}}/" title="{{site.title}}" aria-label="{{site.title}}">
    {% asset cloud-gov-logo.svg alt="{{site.title}}" class="width-card" %}
  </a></em>
</div>
<div class="usa-logo" id="extended-logo">
  <em class="usa-logo__text"><a href="{{site.baseurl}}/pages/" title="Pages Home" aria-label="Pages Home">
    <img src="{{site.baseurl}}/assets/pages/images/federalist-logo-blue.svg" alt="Federalist logo" class="width-card-lg">
  </a></em>
</div>
