<div class="usa-logo-composite">
  <div class="usa-logo-composite__parent">
    <em class="usa-logo-composite__text"><a href="{{site.baseurl}}/" title="{{site.title}}" aria-label="{{site.title}}">
      <img src={{site.baseurl}}/assets/images/content/cloud-gov-logo.svg alt="{{site.title}}" />
    </a></em>
  </div>
  <div class="usa-logo-composite__logo">
    <em class="usa-logo-composite__text"><a href="{{site.baseurl}}/pages/" title="Cloud.gov Pages Home" aria-label="Cloud.gov Pages Home">
      <img src={{site.baseurl}}/assets/images/pages/pages-logo-blue.svg alt="Cloud.gov Pages logo" />
    </a></em>
  </div>
</div>
