{%- comment -%}
The sidenav is not loaded by default on the main pages. To include this navigation you can either use the
_layouts/page.html layout template, or you can add "sidenav: true" in the front-matter of your pages
{%- endcomment -%}

<aside id="section-nav" class="usa-layout-docs-sidenav desktop:grid-col-4 padding-bottom-4">
  <nav>
    <ul class="usa-sidenav">
      {% for nav_section in site.data.pages.navigation.sidenav %}
        <li class="usa-sidenav__item">
          <a {% if nav_section.href == page.url %}class="usa-current"{% endif %} href="{{ nav_section.href }}">{{ nav_section.text }}</a>
          {% if nav_section.subfolderitems %}
            <ul class="usa-sidenav__sublist">
              {% for nav_item in nav_section.subfolderitems %}
                <li class="usa-sidenav__item">
                  <a {% if nav_item.href == page.url %}class="usa-current"{% endif %} href="{{site.baseurl}}{{ nav_item.href }}">{{ nav_item.text }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
</aside>