// Import the US Web Design System SASS.

@import 'theme/uswds-theme-general';
@import 'theme/uswds-theme-typography';
@import 'theme/uswds-theme-spacing';
@import 'theme/uswds-theme-color';
@import 'theme/uswds-theme-utilities';

@import "uswds";

@import 'theme/uswds-theme-custom-styles';
@import 'mermaid';

// Add your SASS/CSS here
.site-banner {
  background-color: color("base-darkest");

  .usa-banner__content {
    color: color("white");
  }

  .usa-banner__button {
    color: color("base-light");

    &:hover {
      color: color("white");
    }
  }

  .usa-banner__header-text {
    color: color("white");
  }

  .usa-banner__header-action {
    color: color("gray-30");
  }
}

.site-footer {
  @include u-bg('accent-warm');
  @include u-font('body', '3xs');
  @include u-color('ink');

  a {
    @include u-color('ink');

    &:visited {
      @include u-color('ink');
    }
    &:hover {
      @include u-color('primary-darker');
    }
  }
}

@media screen and (min-width: 640px) {
  .tablet\:width-1\/3 {
    width: 33%;
  }
  .tablet\:float-left {
    float: left;
  }

  //force grid-row wide gutter docs well
  .grid-row.grid-gap .usa-prose.padding-x-4 {
    padding-left: 2rem;
    padding-right: 2rem; 
  }
}

@media screen and (min-width: 640px) {
  .paginate-link {
    display: initial;
  }
  .paginate-button {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .paginate-link {
    display: none;
  }
  .paginate-button {
    display: block;
  }
}

.usa-layout-docs-sidenav {

  @include at-media('mobile') {
    @include u-flex('fill');
    @include u-order('last');
  }
  @include at-media('desktop') {
    order: 0;
    flex: none;
  }
}



// Pricing Page
.pricing-calculations {
  .pricing-line-item {
      border-bottom: 1px dotted #444;
    }
  
  .pricing-total {
      @include u-text('semibold');
      display: block;
      @include u-margin-top(5);
  }

  span {
      @include u-float('right')
  }
}


// Home
.site-welcome {
  @include u-margin-top(8);

  h1 {
    @include u-font-size('sans', 16);
  }
  ul {
    padding: 0;
    margin: 30px 0 0 0;
    list-style: none;
    max-width: 500px;
    @include u-border-bottom(1px);
    @include u-border-bottom('base-light');

    li {
      font-size: 27px;
      @include u-border-top(1px);
      @include u-border-top('base-light');
      
      a {
        @include u-color('ink');


        display: block;
        padding: 15px 0;

        &:before {
          content: '\02192';
          display: inline-block;
          width: 40px;
          @include u-text('secondary-vivid');
          font-family: 'Times New Roman', Arial, sans-serif;
        }
      }

      &:first-of-type {
        border-top: 1px solid 'base-light';
        padding-top: 20px
      }
    }
  }
}

a {
  @include u-color('primary-dark');

  &:hover {
    @include u-color('primary-darker');
  }
}

.sign-up-intro {
  background-color: 'primary-darkest';
  background-image: asset_url("peaks.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 1040px 148px;
}
