/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
*/

// -------------------------------------
// Import individual theme settings
@import 'theme/uswds-theme-general';
@import 'theme/uswds-theme-typography';
@import 'theme/uswds-theme-spacing';
@import 'theme/uswds-theme-color';
@import 'theme/uswds-theme-utilities';
@import 'theme/uswds-theme-components';

// Set correct paths for use with asset pipeline
$theme-font-path: '../../node_modules/uswds/dist/fonts';
$theme-image-path: '../../node_modules/uswds/dist/img';

// -------------------------------------
// Import individual USWDS packages...
@import 'scss/packages/required';
@import 'scss/packages/global';

@import 'scss/packages/uswds-components';
@import 'scss/packages/uswds-utilities';
@import 'theme/uswds-theme-custom-styles';

@import 'pages/index';

// default mode hide banner
.usa-banner__content {
  display: hidden;
}

@media screen and (min-width: 640px) {
  .tablet\:width-1\/3 {
    width: 33%;
  }
  .tablet\:float-left {
    float: left;
  }
}

@media screen and (min-width: 640px) {
  .paginate-link {
    display: initial;
  }
  .paginate-button {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .paginate-link {
    display: none;
  }
  .paginate-button {
    display: block;
  }
}

// Add your SASS/CSS here
// default mode hide banner
.usa-banner__content,
.usa-nav__submenu {
  display: hidden;
}

.site-banner {
  background-color: color('base-darkest');

  .usa-banner__content {
    color: color('white');
  }

  .usa-banner__header-action {
    color: color('base-light');
    &::after {
      mask: url('../images/content/chevron.svg') no-repeat center / 1.3128205128ex 0.8ex;
      background-color: color('base-light');
    }
    &:hover {
      color: color('white');
      &::after {
        background-color: color('white');
      }
    }
  }

  .usa-banner__button[aria-expanded='true']::before {
    background: transparent !important;
  }

  .usa-banner__button[aria-expanded='true']::after {
    @include u-bg('white');
    mask: url('../images/content/close-alt.svg') no-repeat center/1rem 1rem;
  }

  @include at-media('tablet') {
    .usa-banner__button,
    .usa-banner__button[aria-expanded='true'] {
      color: color('base-light');
      &::after {
        mask: url('../images/content/chevron.svg') no-repeat center / 1.3128205128ex 0.8ex;
        background-color: color('base-light');
      }
      &:hover {
        color: color('white');
        &::after {
          background-color: color('white');
        }
      }
    }
  }

  .usa-banner__header-text {
    color: color('white');
  }

  .usa-banner__header-action {
    color: color('gray-30');
  }
}

.site-footer {
  @include u-bg('accent-warm');
  @include u-font('body', '3xs');
  @include u-color('ink');

  a {
    @include u-color('ink');

    &:visited {
      @include u-color('ink');
    }
    &:hover {
      @include u-color('primary-darker');
    }
  }
}

@media screen and (min-width: 640px) {
  .tablet\:width-1\/3 {
    width: 33%;
  }
  .tablet\:float-left {
    float: left;
  }

  //force grid-row wide gutter docs well
  .grid-row.grid-gap .usa-prose.padding-x-4 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (min-width: 640px) {
  .paginate-link {
    display: initial;
  }
  .paginate-button {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .paginate-link {
    display: none;
  }
  .paginate-button {
    display: block;
  }
}

//Docs
.usa-section.bg-accent-warm-light {
  @include at-media('tablet') {
    @include u-padding-y(8);
  }
}

.usa-layout-docs-sidenav {
  @include at-media('mobile') {
    @include u-flex('fill');
    @include u-order('last');
  }
  @include at-media('desktop') {
    order: 0;
    flex: none;
  }
}

// Pricing Page
.usa-content.bg-accent-warm-light {
  @include at-media('tablet') {
    @include u-padding-top(4);
    @include u-padding-bottom(8);
  }
}

.products-pricing {
  @include at-media('tablet') {
    .intro {
      h2 {
        @include u-font-size('sans', 10);
      }
    }
  }

  .usa-table tr {
    @include u-padding-y(3);
    border-top: units(1px) solid color('base-lighter');
    display: flex;
  }

  .usa-table td {
    background-color: transparent;
    border: none;
    @include u-padding-left(0);
    @include u-padding-right($theme-table-column-gap / 2);
    @include u-padding-y(0.5);

    h3 {
      @include u-margin-y(0);
    }

    &.small-info {
      @include u-font-size('sans', '2xs');
      @include at-media('desktop') {
        min-height: 83px;
      }
    }

    &.intro-info {
      @include at-media('desktop') {
        min-height: 133px;
      }
    }

    a.usa-button {
      @include u-margin-bottom(2);
    }
  }
}

.pricing-calculations {
  .pricing-line-item {
    border-bottom: 1px dotted #444;
  }

  .pricing-total {
    @include u-text('semibold');
    display: block;
    @include u-margin-top(5);
  }

  span {
    @include u-float('right');
  }
}

// Home
ul.home-list {
  list-style: none;
  @include u-border-bottom(1px);
  @include u-border-bottom('base-light');

  li {
    @include u-border-top(1px);
    @include u-border-top('base-light');
    @include u-padding-y('105');

    &:first-of-type {
      border-top: 1px solid 'base-light';
    }
  }
}

a.cg-arrow {
  @include u-color('ink');
  @include u-font-family('ui');

  display: block;

  &:before {
    content: '\02192';
    display: inline-block;
    @include u-padding-right('105');
    @include u-text('secondary-vivid');
    font-family: 'Times New Roman', Arial, sans-serif;
  }
}
@include at-media('tablet') {
  .bar-top {
    @include u-padding-top(4);
    &:before {
      @include u-bg('base-light');
      content: '';
      height: 2px;
      left: 16px;
      position: absolute;
      top: 0;
      width: 45px;
    }
  }
}

.site-welcome {
  @include u-margin-top(4);

  h1 {
    @include u-font-size('sans', 16);
  }
  ul {
    padding: 0;
    margin: 30px 0 0 0;
    max-width: 500px;

    li {
      font-size: 22px;

      a {
        @include u-padding-y(3);

        &:before {
          width: 40px;
        }
      }
    }
  }
  p.usa-intro {
    @include u-font-size('serif', 'lg');
  }
}

a {
  @include u-color('primary-dark');

  &:hover {
    @include u-color('primary-darker');
  }
}

.sign-up-intro {
  background-color: 'primary-darkest';
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 1040px 148px;

  @include at-media('desktop') {
    background-image: url('../images/content/peaks.svg');
  }
}

.usa-section.why-cloud,
.usa-section.is-cloud-right,
.usa-section.packages {
  h2 {
    @include u-margin-top(0);
  }
  h3 {
    @include u-margin-y(1);
  }
  .usa-prose {
    @include u-margin-bottom(3);
  }
}

.is-cloud-right .home-list {
  padding-left: 0;
}

.partner-card {
  @include u-margin(1);
  @include u-padding-y(1);
  @include u-border(1px);
  @include u-border('base-light');

  h5 {
    @include u-margin-y(1);
  }

  a {
    @include u-color('ink');
  }

  img {
    @include u-square(9);
    @include u-float('left');
    @include u-padding-right(2);
  }
}

// code blocks

code {
  @include u-bg('accent-warm-light');
  @include u-padding-x(1);
  @include u-padding-y(1);
  @include u-font-size('mono', 'xs');
  @include u-display('block');
  border-radius: radius('sm');
  word-wrap: break-word;
  overflow: auto;
  line-height: line-height('mono', 1);
}

code.language-plaintext {
  @include u-display('inline');
}

.usa-section.want-more {
  @include at-media('tablet') {
    @include u-padding-bottom(8);
  }
}

// *******
//Mermaid styles
// *******
.cg-diagrams-hidden {
  position: absolute;
  top: -9999px;
  left: -99999px;
}

.cg-diagrams-stage {
  background: #f1f1f1;
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Roboto',
    'Arial', sans-serif;
}
.cg-diagrams-stage .label {
  color: #ffffff;
  overflow-wrap: break-word;
  word-break: break-word;
}

.cg-diagrams,
.cg-diagrams-stage {
  overflow: scroll;
  width: 100%;
}

.cluster rect {
  fill: #f1f1f1 !important;
  stroke: color('primary-vivid') !important;
  stroke-width: 2px !important;
}

.cluster text {
  font-size: 1.7rem;
  font-weight: 700;
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Roboto',
    'Arial', sans-serif;
  font-size: 17px;
}

.node rect,
.node circle,
.node ellipse,
.node polygon {
  fill: color('primary');
  stroke: color('primary-dark');
  stroke-width: 2px;
}

.node .label {
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Roboto',
    'Arial', sans-serif;
  color: white;
}

.edgePath .path {
  stroke: color('primary-dark');
  stroke-width: 2px;
}

.edgePath marker path {
  fill: color('primary-dark') !important;
}

.edgeLabel {
  background-color: #ffffff;
  border: #ffffff 5px solid;
  color: #000000;
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Roboto',
    'Arial', sans-serif;
  font-family: 17px;
}
.edgeLabel:empty {
  border: none;
}

rect {
  fill: color('primary-vivid');
  stroke: color('primary-dark');
  stroke-width: 2px;
}
rect.note {
  fill: #e1f3f8;
  stroke: color('primary')-light;
  stroke-width: 2px;
}
rect.labelBox {
  fill: color('primary-vivid');
  stroke: color('primary');
}
rect.actor {
  fill: 'priamry-vivid';
  stroke: color('primary-dark');
}

#crosshead path,
#arrowhead path {
  fill: color('primary-dark');
}

line[class^='messageLine'],
line.actor-line {
  fill: color('primary-dark');
  stroke: color('primary-dark');
  stroke-width: 2px;
}

line.loopLine {
  fill: color('primary-dark');
  stroke: color('primary');
  stroke-width: 2px;
}

text.messageText {
  font-family: 'Bitstream Vera Sans Mono', 'Consolas', 'Courier', monospace;
  text-shadow: 2px 2px 0 #ffffff, 1px 1px 0 #5b616b;
  fill: color('primary-vivid');
  font-size: 1rem;
}

text.actor {
  fill: #ffffff;
}

text.noteText {
  fill: #212121;
  font-size: 1.25rem;
}

text.labelText {
  font-family: 'Merriweather', 'Georgia', 'Cambria', 'Times New Roman', 'Times',
    serif;
  fill: #dce4ef;
  font-size: 1.25rem;
  text-transform: uppercase;
}

text.loopText {
  font-family: 'Merriweather', 'Georgia', 'Cambria', 'Times New Roman', 'Times',
    serif;
  font-size: 1rem;
  font-style: oblique;
}
