<!doctype html>
<html lang="en">

{{ partial "head.html" . }}

<body id="home" class="announcement">

  {{ partial "header.html" . }}


  <section class="usa-content" id="main">
    <div class="usa-grid">
      <h1>How to replace your app with static content</h1>
      <p>
        In the event that your agency is affected by the shutdown, here are instructions on how to replace your applications with a static site.
      </p>
      <ol>
        <li>
          Prepare your new content. You may just want to clone or fork the <a href="https://github.com/18F/cf-ex-staticfile">static file repo</a> and update <code>index.html</code>.
        </li>
        <li>
          Connect to cloud.gov with the Cloud Foundry CLI:
<pre>
cf login --sso -a https://api.fr.cloud.gov
cf target -o (your_org) -s (your_space)
</pre>
        </li>
        <li>
          Stop your current application:
<pre>
cf stop (your_app)
</pre>
        </li>
        <li>
          Change directory to the clone of <code>cf-ex-staticfile</code>, then, push your new content:
<pre>
cf push (your_app)
</pre>
        </li>
        <li>
          If you have custom <code>routes</code> you'll need to re-map those:
<pre>
cf map-route (your_app) app.cloud.gov --hostname (custom-route)
</pre>
        </li>
      </ol>

    </div>
  </section>

  <section class="usa-content">
    <div class="usa-grid">
      <h2>Example: Replace app with static content</h2>
      <p>
        In this example, we’re replacing a Java app, <code>spring-music</code>, at the hostname
        <code>spring-music.app.cloud.gov</code> with the static site from
        <code>cf-ex-staticfile</code>. It assumes you’ve already done <code>cf login --sso</code>.
      </p>
      <p>
        First, we’ll list the current apps, and stop the app we’re interested in:
      </p>
<pre>
$ cf apps
Getting apps in org test-org / space dev as first.last@email.gov...
OK

name               requested state   instances   memory   disk   urls
landing-test       stopped           0/2         64M      1G
spring-music       started           1/1         1G       1G     spring-music.app.cloud.gov


$ cf stop spring-music
Stopping app spring-music in org test-org / space dev as first.last@email.gov...
OK
</pre>
      <p>
        Now, change directory to the static site and <code>push</code> that out with the same name as the app you’re replacing:
      </p>
<pre>
$ cd ~/path/to/cf-ex-staticfile

$ cf push spring-music
Updating app spring-music in org test-org / space dev as peter.burkholder@gsa.gov...
OK
...[snip]...
requested state: started
instances: 1/1
usage: 1G x 1 instances
urls: spring-music.app.cloud.gov
last uploaded: Fri Jan 19 20:10:44 UTC 2018
stack: cflinuxfs2
buildpack: staticfile
     state     since                    cpu    memory       disk         details
#0   running   2018-01-19 03:11:03 PM   0.0%   5.1M of 1G   7.2M of 1G

</pre>
    <p>
      Now test at your target URL: <code>https://spring-music.app.cloud.gov</code>.
    </p>
    </div>
  </section>

  <section class="usa-content">
    <div class="usa-grid">
    <h2>Example: Add customized route to your static site</h2>
    <p>
      In this example, we want `landing-preview.app.cloud.gov` to also go to the same
      static site in the example above.
    </p>
<pre>
$ cf map-route spring-music app.cloud.gov --hostname landing-preview
Creating route landing-preview.app.cloud.gov for org test-org / space dev as first.last@email.gov...
OK
Route landing-preview.app.cloud.gov already exists
Adding route landing-preview.app.cloud.gov to app spring-music in org test-org / space dev as first.last@email.gov...
OK
</pre>
    <p>
      Now, you can visit <code>https://landing-preview.app.cloud.gov</code> and see the same site.
    </p>
    </div>
  </section>


  {{ partial "footer.html" . }}
  {{ partial "javascript.html" . }}

  </body>
</html>
