<!doctype html>
<html lang="en">

  {{ partial "head-landing.html" . }}

  <body>

    {{ partial "header.html" . }}

    <!-- <div class="header-view">
      <div class="usa-grid">
        <h1><a class="link-textblack" href="/updates/">Updates</a></h1>
      </div>
    </div> -->

    <main class="quickstart">

      <div class="usa-content bgcolor-deepblue">
        <div class="usa-grid">
          <section class="hero">
            <h1>Try cloud.gov for free</h1>
            <p>
              Follow this quick start guide to create an account and deploy a sample app in your own free sandbox.
            </p>
          </section>



          <!-- <div class="usa-width-two-thirds panel content-text">
            <header class="post-header">
              <span class="panel-new-date">{{ .Date.Format "Jan 2, 2006" }}{{ if .Params.author }} • {{ .Params.author }}{{ end }}{{ if .Params.meta }} • {{ .Params.meta }}{{ end }}</span>
            </header>
            <h1>{{ .Title }}</h1>

            {{ if .Params.image }}
            <div class="page--banner" style="background-image: url({{ .Params.image}});"></div>
            {{ end }}

            {{ .Content }}
         </div> -->

        </div>
      </div>

      <div class="usa-content bgcolor-ltbluegrey">
        <div class="usa-grid">
          <section class="step first">
            <h2>Get trial access and a free sandbox account</h2>
            <p>
              Federal employees and contractors with an email ending in .mil, .gov, or .fed.us can obtain a free sandbox account. To register, you’ll need access to your email and a smartphone with Google Authenticator installed.
            </p>
            <form>
              <label for="email">Federal email address</label>
              <div class="form-wrapper">
                <input type="text" name="email" value="">
                <input type="submit" value="Submit">
              </div>
            </form>
          </section>
        </div>
      </div>

      <div class="usa-content bgcolor-ltputty">
        <div class="usa-grid">
          <section class="step second">
            <h2>Go build in your sandbox</h2>
            <p>
              Follow any of the tutorials below to launch your own web application from your sandbox. You’ll need your cloud.gov account and some familiarity with Windows Powershell or Mac/Linux terminal.
            </p>

            <div class="content-resources">
              <section>
                <h3>
                  <span class="eyebrow">Tutorial</span>
                  Watch our video tutorials
                </h3>
                <p>
                  Get an introduction to basic cloud.gov concepts and learn how to run applications in your sandbox.
                </p>
                <div class="">
                  <article class="usa-width-one-third">
                    <iframe width="280" height="157" src="https://www.youtube.com/embed/LKb0liZyepA?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                    <!-- <iframe width="208" height="117" src="https://www.youtube.com/embed/LKb0liZyepA?rel=0" frameborder="0" allowfullscreen></iframe> -->
                    <h4>Part 1: Why cloud.gov?</h4>
                    <p class="duration">
                      27 minutes
                    </p>
                    <p>
                      Get an overview of the cloud.gov platform and how it reduces lead time, and  ensures security and compliance.
                    </p>
                    <ul>
                      <li>
                        <a href="../assets/files/01-slides-why-cloudgov.pdf">Download slides</a>
                      </li>
                    </ul>

                  </article>
                  <article class="usa-width-one-third">
                    <iframe width="280" height="157" src="https://www.youtube.com/embed/ip8G_Rafb_c?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                    <h4>Part 2: Getting set up</h4>
                    <p class="duration">
                      4 minutes
                    </p>
                    <p>
                      A walk-through of the initial registration process, including the setup of your one-time password application.
                    </p>
                    <ul>
                      <li>
                        <a href="../assets/files/02-slides-cloudgov-getting-set-up.pdf">Download slides</a>
                      </li>
                      <li>
                        <a href="../assets/files/cloudgov-cheatsheet.pdf">Download cheatsheet</a>
                      </li>
                    </ul>
                  </article>
                  <article class="usa-width-one-third">
                    <iframe width="280" height="157" src="https://www.youtube.com/embed/G2J8dxSF0-I?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                    <h4>Part 3: Hands-on workshop</h4>
                    <p class="duration">
                      41 minutes
                    </p>
                    <p>
                      Install the Cloud Foundry tools, connect to cloud.gov, and start running applications — from a static site, to a multi-node application with a data backend. We introduce you to the cloud.gov architecture and concepts, and touch on logging and debugging your running application.                     </p>
                    <ul>
                      <li>
                        <a href="https://github.com/cloudfoundry/cli/releases">Download and install the Cloud Foundry command line tool</a>
                      </li>
                      <li>
                        <a href="../assets/files/03-slides-cloudgov-hands-on-lab.pdf">Download slides</a>
                      </li>
                      <li>
                        <a href="../assets/files/cloudgov-cheatsheet.pdf">Download cheatsheet</a>
                      </li>
                    </ul>
                  </article>
                </div>
              </section>
              <!-- <section>
                <h3>
                  <span class="eyebrow">Tutorial</span>
                  Deploy a sample Java app
                </h3>
              </section>
              <section>
                <h3>
                  <span class="eyebrow">Tutorial</span>
                  Your first deploy — Hello World
                </h3>
              </section> -->
            </div>

          </section>

        </div>
      </div>

      <div class="usa-content bgcolor-ltbluegrey">
        <div class="usa-grid content-resources">
          <section class="step third">
            <h2>Want more?</h2>
            <p>
              Upgrade to a paid package to get full access to the platform and permanent spaces for hosting longer term demos and public websites in production. Email us at               <a href="mailto:cloud-gov-inquiries@gsa.gov?body=What%27s%20your%20name%3F%0A%0AWhat%20agency%20or%20office%20do%20you%20work%20for%3F%0A%0AWhat%27s%20your%20job%20title%20or%20role%3F%0A%0ATell%20us%20a%20little%20about%20your%20project%20or%20your%20questions%20about%20cloud.gov:%0A%0AIf%20you%27d%20like%20us%20to%20call%20you%2C%20what%27s%20your%20phone%20number%20and%20when%20might%20be%20a%20good%20time%3F%0A">cloud-gov-inquiries@gsa.gov</a>
 to learn more about what cloud.gov can do.
            </p>
            <p>
              <a href="mailto:cloud-gov-inquiries@gsa.gov?body=What%27s%20your%20name%3F%0A%0AWhat%20agency%20or%20office%20do%20you%20work%20for%3F%0A%0AWhat%27s%20your%20job%20title%20or%20role%3F%0A%0ATell%20us%20a%20little%20about%20your%20project%20or%20your%20questions%20about%20cloud.gov:%0A%0AIf%20you%27d%20like%20us%20to%20call%20you%2C%20what%27s%20your%20phone%20number%20and%20when%20might%20be%20a%20good%20time%3F%0A" class="usa-button">Contact us</a>
            </p>
            <h3>Additional resources</h3>
            <p>
              Did we miss a tip or useful resource that you think we should add? Submit a pull request.
            </p>
            <article class="usa-width-one-third">
              <h4>Sample applications</h4>
              <ul>
                <li>
                  <a href="#">Drupal example</a>
                </li>
                <li>
                  <a href="#">Wordpress example</a>
                </li>
                <li>
                  <a href="#">Cloud Foundry community collection of sample applications</a>
                </li>
                <li>
                  <a href="#">SpringMusic: Java + any of MySQL, Oracle, Postgres or Redis</a>
                </li>
              </ul>
            </article>
            <article class="usa-width-one-third">
              <h4>Join the communities</h4>
              <ul>
                <li>
                  <a href="#">The public Slack #devops channel at 18F (sign up at chat.18f.gov)</a>
                </li>
                <li>
                  <a href="#">Cloud Foundry communities (Slack, newsletters, mail lists)</a>
                </li>
              </ul>
            </article>
          </section>
        </div>
      </div>

    </main>


    {{ partial "footer.html" . }}
    {{ partial "javascript.html" . }}

  </body>
</html>
