<section>
  <a name="contact"></a>
  <h1>Contact us</h1>
  <p class="section-subhed">Sign up for updates about the availability of cloud.gov from 18F</p>
    <form action="//gsa.us9.list-manage.com/subscribe/post?u=6f1977de9eff4c384dc8d6527&amp;id=ab90bdad59" method="post" id="contact" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <fieldset>
        <div class="text_block">
          <label for="mce-EMAIL">Email Address </label>
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        <label for="mce-FUNCTION">Function </label>
        <select name="FUNCTION" style="line-height: 130%; font-size: 1rem; padding: 0.7rem;" id="mce-FUNCTION">
          <option value=""></option>
          <option value="Program Manager / Product Manager">Program Manager / Product Manager</option>
          <option value="Executive">Executive</option>
          <option value="Technical Staff">Technical Staff</option>
        </select>
        <label for="mce-SECTOR">Sector </label>
        <select name="SECTOR" style="line-height: 130%; font-size: 1rem; padding: 0.7rem;" id="mce-SECTOR">
          <option value=""></option>
          <option value="Government">Government</option>
          <option value="Government Contractor / Vendor">Government Contractor / Vendor</option>
          <option value="Other Private Sector">Other Private Sector</option>
        </select>

          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>

          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6f1977de9eff4c384dc8d6527_ab90bdad59" tabindex="-1" value=""></div>

          <div class="usa-input-buttons-inline">
            <input type="submit" value="Subscribe" class="usa-button">
          </div>
        </div>
        <div style="margin-top: 1.5rem;">
            <p>Your privacy and security are important to us; we'll only share your information as described in the <a href="http://www.gsa.gov/portal/content/116609">GSA Privacy and Security Notice</a>.</p>
        </div>
      </fieldset>
    </form>
</section>
