<footer class="footer grid">
    <section class="grid-width-6">
      <ul class="footer-links">
        <li>
          <a href="{{ .Site.BaseURL }}">cloud.gov home</a>
        </li>
        <li>
          <a href="/docs/help/#support-for-people-who-use-cloud-gov">Get help for customer issues</a>
        </li>
        <li>
          <a href="https://18f.gsa.gov">Built and maintained by 18F</a>
        </li>
      </ul>
    </section>
    <section class="grid-width-6">
      <ul class="footer-info">
        <li>
          A United States government platform
        </li>
        <li>
          <a href="/docs/ops/repos/">Open source and in the public domain</a>
        </li>
        <li>
          <a href="https://18f.gsa.gov/vulnerability-disclosure-policy/">Vulnerability disclosure policy</a>
        </li>
      </ul>
    </section>
</footer>
