<footer class="footer grid">
    <section class="grid-width-6">
      <ul class="footer-links">
        <li>
          <a href="https://cloud.gov">cloud.gov home</a>
        </li>
        <li>
          <a href="https://cloud.gov/docs/help/">Contact</a>
        </li>
        <li>
          <a href="https://cloud.gov/docs/ops/repos/">Contribute to cloud.gov</a>
        </li>
      </ul>
    </section>
    <section class="grid-width-6">
      <ul class="footer-info">
        <li>
          A United States government platform
        </li>
        <li>
          <a href="https://cloud.gov/docs/ops/repos/">Open source</a> and in the public domain
        </li>
        <li>
          Built and maintained by <a href="18f.gsa.gov">18F</a>
        </li>
      </ul>
    </section>
</footer>
