  <footer class="usa-footer usa-footer-slim usa-sans" role="contentinfo">
   <div class="usa-footer-primary-section">
     <div class="usa-grid">
       <nav class="usa-footer-nav usa-width-two-thirds">
         <ul class="usa-unstyled-list">
           <li class="usa-width-one-fourth usa-footer-primary-content">
             <a class="usa-footer-primary-link" href="/docs/help/">cloud.gov help</a>
           </li>
           <li class="usa-width-one-fourth usa-footer-primary-content">
             <a class="usa-footer-primary-link" href="https://github.com/18F/cg-site">Edit this page</a>
           </li>
           <li class="usa-width-one-fourth usa-footer-primary-content">
             <a class="usa-footer-primary-link" href="https://18f.gsa.gov/">Made by 18F</a>
           </li>
           <li class="usa-width-one-fourth usa-footer-primary-content">
             <a class="usa-footer-primary-link" href="https://18f.gsa.gov/tags/cloud-gov/">Blog posts</a>
           </li>
         </ul>
       </nav>
       <div class="usa-width-one-third">
         <div class="usa-footer-primary-content usa-footer-contact_info">
           <a href="mailto:cloud-gov-inquiries@gsa.gov">{{ .Site.Params.email }}</a>
         </div>
       </div>
     </div>
   </div>
  </footer>
