<!-- start header -->
<div class="usa-disclaimer">
  <div class="usa-grid">
    <span class="usa-disclaimer-official">An official website of the United States Government
      <img alt="US flag signifying that this is a United States Federal Government website" src="/assets/img/us_flag_small.png">
    </span>
    <span class="usa-disclaimer-stage">This site is currently in alpha. <a href="https://18f.gsa.gov/dashboard/stages/#alpha">Learn more.</a></span>
  </div>
</div>
<header class="header">
  <div class="header-wrap">

    <!-- start logo -->
    <h2 class="header-title">
      <a href="/" class="logo" title="Home">
        <svg class="logo-img">
          <use xlink:href="/assets/img/cloudgov-sprite.svg#logo"/>
        </svg>
      </a>
    </h2>
    <!--end logo -->

    <!-- start top navigation -->
    <nav class="header-side">
      <ul class="nav">
        <li class="nav-link">
          <a href="/overview/">Overview</a>
        </li>
        <li class="nav-link">
          <a href="/docs/">Documentation</a>
        </li>
        <li class="nav-link">
          <a href="/updates/">Updates</a>
        </li>
        <li class="nav-link">
          <a href="https://cloudgov.statuspage.io/">Status</a>
        </li>
        <li class="nav-link">
          <a href="https://dashboard.cloud.gov/">Dashboard</a>
        </li>
        <li class="nav-link">
          <a href="/#contact">Contact</a>
        </li>
      </ul>
    </nav>
    <!-- end top navigation -->
  </div>
</header>
<!-- end header -->
