<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ if .Params.title }}{{ .Params.title }} {{ else }}{{ .Title }}{{ end }}</title>
  <meta name="description" content="{{ .Description }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ if .Title }}{{ .Title }}{{ else }}{{ .Params.title }}{{ end }}" />
  <meta name="twitter:title" content="{{ if .Title }}{{ .Title }}{{ else }}{{ .Params.title }}{{ end }}">
  <meta property="og:url" content='{{ .URL }}'>
  <meta name="twitter:card" content="summary_large_image">
  {{ if .Params.feature_image }}<meta property="og:image" content="{{ .Params.feature_image}}">{{end}}
  {{ if .Params.feature_image }}<meta name="twitter:image" content="{{ .Params.feature_image}}">{{ end }}
  <meta property="og:description" content="{{ .Description }}">
  <meta name="twitter:description" content="{{ .Description }}">

  <link rel="stylesheet" href="/assets/css/cloudgov-style-min.css">

  <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico" />

  <link rel="canonical" href='{{ .URL }}'>
 <!-- <link rel="alternate" type="application/rss+xml" title="{{ .Title }}" href="/feed.xml" />  -->
  <script>
    if (/^www\./.test(window.location.hostname)) {
      window.location = window.location.href.replace('www.', '');
    }
  </script>
</head>
