<h2 class="bar-top">Industry Reports</h2>

<p class="eyebrow ">
  Research
</p>
<p>
  <a href="https://devops-research.com/assets/federal-cloud-infrastructure.pdf">Cloud Infrastructure in the Federal Government: Modern Practices for Effective Risk Management</a>
</p>

<p class="eyebrow ">
  Research
</p>
<p>
  <a href="https://content.pivotal.io/analyst-reports/the-total-economic-impact-of-pivotal-cloud-foundry">The Total Economic Impact<sup>&trade;</sup> of Pivotal Cloud Foundry</a>
</p>
<p class="caption">
  (Sign up required.)
</p>
