<!doctype html>
<html lang="en">

  {{ partial "head.html" . }}

  <body id="home">

    {{ partial "header.html" . }}

    <section id="main">
      <div class="usa-grid">
        <div class="usa-width-whole">
          <h1>404 / Page not found.</h1>
          <p>
            Looks like that page doesn&rsquo;t exist! <br />
            If you think it should, send us a <a href="https://github.com/18F/cg-site/pulls", target="_blank">pull request </a>, or
            <a href="https://cloud.gov/docs/help/">contact us</a>.
          </p>
        </div>
    </section>

    {{ partial "footer.html" . }}
    {{ partial "javascript.html" . }}

  </body>
</html>
