<!doctype html>
<html lang="en">

  {{ partial "head.html" . }}

  <body>

    {{ partial "header.html" . }}



<section class="section section-blue section-chevron_alt section-first"
    id="main">
  <div class="usa-grid section-bg-parent">
    <div class="usa-width-whole billboard  section-bg">
      <h1 class="billboard-display_text">A Platform as a Service for government teams</h1>
      <h2 class="billboard-second_text">Focus on what you want to build — cloud.gov makes it faster, simpler, and more secure.</h1>
    </div>
  </div>
</section>

<section class="usa-content section-middle section-light">
  <a name="about"></a>
  <div class="usa-grid">
    <div class="section-content usa-content">
      <h1 class="section-title">We understand what it takes to get from day one to ATO.</h1>
      <p class="section-displaytext">
        The cloud.gov platform’s flexible, machine-readable, always up-to-date compliance documentation automates huge parts of the ATO process. Imagine a secure cloud environment where your team can get up and running in minutes, then build, manage, and release applications — with platform compliance built in. This is cloud.gov.
      </p>
    </div>
  </div>
  <!--
  <i class="hex_icon hex_icon-black section-icon"
      style="height: 5.625rem; width: 4.9rem">
    <svg class="icon">
      <use xlink:href="assets/img/cloudgov-sprite.svg#i-court"/>
    </svg>
  </i> -->
</section>

<section class="usa-content section-middle section-cream">
  <div class="usa-grid">
    <div class="three_up">
      <div class="three_up-part part-1">
        <h3 class="section-coltitle">Build great things in the cloud with the expertise you already have.</h3>
        <p>
          To get the benefits of cloud hosting, like scalability and savings, you need cloud
          operations expertise, unless you’re using a Platform as a Service like cloud.gov.
          cloud.gov takes care of those operations and gives you easy-to-use tools to manage
          access, resource usage, monitoring, and other services. It’s flexible enough to give you
          what you need without sticking you with what you don’t. Let your team focus on building
          the applications you’re responsible for.
        </p>
      </div>
      <div class="three_up-part part-2">
        <h3 class="section-coltitle">Make compliance easier. Give your team their time back.</h3>
        <p>
          Launching digital applications for a federal agency requires lengthy documentation
          detailing your compliance with security standards. Creating these docs takes dozens of
          hours from developers, hours they can’t spend building features your users need. But
          with cloud.gov, you get Compliance as a Service, too. Use the platform’s flexible,
          machine-readable, always up-to-date documentation to automate huge parts of the process.
          Just document what you build on top of the platform. Could your team use the extra time?
        </p>
      </div>
      <div class="three_up-part part-3">
        <h3 class="section-coltitle">Take advantage of centrally-managed security.</h3>
        <p>
          Because cloud.gov enforces a consistent environment, no other team using the platform
          can change the environment in a way that hurts your security or compliance. Because
          every update applies to every application running on the platform, your team benefits
          from every improvement. Because we update the environment by deploying a whole new
          system instead of modifying a live system, any foothold bad actors have found is wiped
          away.
        </p>
      </div>
    </div>
  </div>
  <!--
  <i class="hex_icon hex_icon-alt section-icon"
      style="height: 5.625rem; width: 4.9rem">
    <svg class="icon">
      <use xlink:href="assets/img/cloudgov-sprite.svg#i-plan"/>
    </svg>
  </i> -->
</section>

<section class="usa-content section section-dark section-chevron-alt">
  <div class="usa-grid">
    <div class="section-content usa-content">
      <h1 class="section-title">Are you right for cloud.gov?</h1>
      <p class="section-dek">cloud.gov was built by a government team for government teams. Here’s who we’re looking
        for:</p>
        <ul class="list-lined">
          <li>You’re in a federal government organization that employs teams — either in-house or on contract — with the power to push applications.</li>
          <li>You or your teams can can use the IAA/MOU process to pay GSA for cloud.gov.</li>
          <li>Your applications are FISMA-Moderate or lower, and the engineering approach values clarity (for example, the application listens to a single port and stores configuration in the environment).</li>
        </ul>
    </div>
  </div>
  <!--
  <i class="hex_icon hex_icon-alt section-icon"
      style="height: 5.625rem; width: 4.9rem">
    <svg class="icon">
      <use xlink:href="assets/img/cloudgov-sprite.svg#i-user"/>
    </svg>
  </i>
  -->
</section>

<section class="usa-content section-middle section-light">
  <div class="usa-grid">
    <div class="section-content usa-content">
        {{ partial "contact.html" . }}
    </div>
  </div>
</section>


 {{ partial "footer.html" . }}
    {{ partial "javascript.html" . }}

  </body>
</html>
