<!doctype html>
<html lang="en">

  {{ partial "head-gtm.html" . }}

  <body id="home">

    {{ partial "gtm-body" . }}
    {{ partial "header.html" . }}


    <section class="usa-content" id="main">
      <div class="usa-grid">
        <h1>You don't have to build your tech from the ground up.</h1>
        <p>
          cloud.gov helps teams build, run, and authorize cloud-ready or legacy government systems quickly and cheaply.
        </p>
        <ul>
          <li>
            <a href="{{ .Site.BaseURL }}/docs/overview/what-is-cloudgov/">Platform overview</a>
          </li>
          <li>
            <a href="{{ .Site.BaseURL }}/pricing/">Packages and pricing</a>
          </li>
          <li>
            <a href="{{ .Site.BaseURL }}/docs/technology/responsibilities/">Security and compliance</a>
          </li>
        </ul>

      </div>
    </section>

    <section class="usa-content">
      <a name="Product"></a>
      <div class="usa-grid">
        <article class="usa-width-one-third">
          <h2>Compliant from the start</h2>
          <p>
            cloud.gov offers a fast way for federal agencies to host and update websites, APIs, and other applications. Employees and contractors can focus on developing mission-critical applications, leaving server infrastructure management to us.
          </p>
        </article>
        <article class="usa-width-one-third">
          <h2>FedRAMP authorized</h2>
          <p>
          cloud.gov has a FedRAMP Joint Authorization Board (JAB) authorization, which means it complies with federal security requirements. When you build a system on cloud.gov, you leverage this compliance and reduce the amount of work you need to do.
          </p>
        </article>
        <article class="usa-width-one-third">
          <p class="bar-top">
            Follow our <a href="/signup">quickstart guide</a> to start a free trial account and watch <a href="/signup/#tutorials">video tutorials</a> that walk through creating apps in your sandbox.
            <a href="/signup" class="usa-button">Try cloud.gov for free <span>&rarr;</span></a>
          </p>
          <p class="caption bar-bottom">
            A federal email address is required to sign up.
          </p>
        </article>
      </div>
    </section>


    <section class="usa-content">
      <div class="usa-grid">
        <h1>Is cloud.gov right for you?</h1>
        <article class="usa-width-one-third">
          <h2 class="bar-top">cloud.gov is great for:</h2>
          <ul>
            <li>
              Easily building new, cloud-native applications
            </li>
            <li>
              Migrating applications to make them scale easily and reduce costs
            </li>
            <li>
              Advancing your agency's use of the cloud through a FedRAMP-authorized platform
            </li>
          </ul>
        </article>

        <article class="usa-width-one-third">
          <h2 class="bar-top">We’re a great fit when:</h2>
          <ul>
            <li>
              Your team (either in-house or on contract) serves a federal government organization
            </li>
            <li>
              You or your teams can use the IAA/MOU process to pay GSA for cloud.gov
            </li>
            <li>
              Your applications are Moderate impact level or lower
            </li>
          </ul>
        </article>

        <article class="usa-width-one-third">
          <h2 class="bar-top">Learn more:</h2>
          <ul class="button-list">
            <li>
              <a href="{{ .Site.BaseURL }}/signup/#tutorials"><i class="fa fa-fw fa-video-camera" aria-hidden="true"></i> Video: What is cloud.gov?</a>
            </li>
            <li>
              <a href="{{ .Site.BaseURL }}/assets/files/cloudgov-overview-2018.pdf"><i class="fa fa-fw fa-file-pdf-o" aria-hidden="true"></i> PDF: Product overview</a>
            </li>
            <li>
              <a href="{{ .Site.BaseURL }}/assets/files/cloudgov-customers.pdf"><i class="fa fa-fw fa-file-pdf-o" aria-hidden="true"></i> PDF: Customer stories</a>
            </li>
          </ul>
        </article>
      </div>
    </section>

    <section class="usa-content">
      <a name="Packages"></a>
      <div class="usa-grid">
        <h1>Packages</h1>

          <article class="usa-width-one-third">
            <h2 class="bar-top">Sandbox space</h2>
            <p>
              <a href="{{ .Site.BaseURL }}/docs/pricing/free-limited-sandbox/">Sandbox spaces</a> are free. All you need is a federal email address &mdash; no paperwork, no hassle.
            </p>
            <p>
              <a href="{{ .Site.BaseURL }}/signup" class="button-link">Get a free trial sandbox</a>
            </p>
          </article>

          <article class="usa-width-one-third">
            <h2 class="bar-top">Prototyping packages</h2>
            <p>
              Upgrade to a <a href="/docs/pricing/prototyping/">prototyping package</a> and develop new apps in a production-ready environment. $1,550 per month for full access for unlimited users.
            </p>
            <p>
              <a href="{{ .Site.BaseURL }}/docs/pricing/start-using-cloudgov/" class="button-link">Learn about purchasing</a>
            </p>
          </article>

          <article class="usa-width-one-third">
            <h2 class="bar-top">Production packages</h2>
            <p>
              Production packages range from $2,070 per month for a FISMA Low system to $9,300 per month for a FISMA Moderate system.
            </p>
            <p>
              <a href="{{ .Site.BaseURL }}/docs/pricing/start-using-cloudgov/" class="button-link">Learn about purchasing</a>
            </p>
          </article>

      </div>
    </section>


      <section class="usa-content">
        <a name="Customers"></a>
        <div class="usa-grid editorial-grid">
          <div class="editorial-width-one-sixth agency-FEC">
          </div>
          <div class="editorial-width-five-sixths">
            <article class="editorial-content">
              <h3>Federal Election Commission</h3>
              <h4>FEC website</h4>
              <p>
                By hosting <a href="https://www.fec.gov/">FEC.gov</a> on cloud.gov and moving its data to the cloud, the FEC anticipates saving 85% in hosting costs and is better prepared for peak traffic events.
              </p>
              <p>
                Although the dates of FEC’s traffic spikes may be predictable, it’s still hard to prepare for the extra demands on the system. “A server that’s still operable but near the end of its life can have unexpected problems” and buying a new server can take months. But on cloud.gov, “this isn’t our problem.”
              </p>
              <p>
                <a href="/docs/customer-stories/fec/">Read the FEC case study. &rarr;</a>
              </p>
              <p class="byline">
                Wei Luo, Deputy CIO<br />
                Federal Election Commission
              </p>

            </article>
          </div>
        </div>

      <div class="usa-grid editorial-grid">
        <div class="editorial-width-one-sixth agency-ATF">
          <h5>
            <a href="https://regulations.atf.gov/">ATF eRegs</a>
          </h5>
          <p class="bar-top">
            Bureau of Alcohol, Tobacco, Firearms, and Explosives
          </p>
        </div>
        <div class="editorial-width-one-sixth agency-DOI">
          <h5>
            <a href="https://www.everykidinapark.gov/">Every Kid in a Park</a>
          </h5>
          <p class="bar-top">
            Department of the Interior
          </p>
        </div>
        <div class="editorial-width-one-sixth agency-DOE">
          <h5>
            <a href="https://collegescorecard.ed.gov/">College Scorecard</a>
          </h5>
          <p class="bar-top">
            Department of Education
          </p>

        </div>
        <div class="editorial-width-one-sixth agency-FBI">
          <h5>
            <a href="https://crime-data-explorer.fr.cloud.gov/">Crime Data Explorer</a>
          </h5>
          <p class="bar-top">
            Federal Bureau of Investigation
          </p>
        </div>
        <div class="editorial-width-one-sixth agency-IRS">
          <h5>
            <a href="https://taxmap.irs.gov/taxmap/tmhome.htm">Tax Map</a>
          </h5>
          <p class="bar-top">
            Internal Revenue Service
          </p>
        </div>
        <div class="editorial-width-one-sixth agency-GSA">
          <h5>
            <a href="https://analytics.usa.gov">Analytics.usa.gov</a>
          </h5>
          <p class="bar-top">
            General Services Administration
          </p>
        </div>
      </div>

    </section>

    {{ partial "footer.html" . }}
    {{ partial "javascript.html" . }}

    <!-- GovDelivery Subscription Overlay -->
    <script src='https://content.govdelivery.com/overlay/js/6395.js'></script>
    <!-- End GovDelivery Overlay -->

  </body>
</html>