<!doctype html>
<html lang="en">

  {{ partial "head.html" . }}

  <body>

    {{ partial "header.html" . }}

    <main class="usa-content section-middle section-light">
      <div class="usa-grid">
        <div class="section-content usa-content">
          <h1>{{ .Title }}</h1>

          {{ if .Params.image }}
          <div class="page--banner" style="background-image: url({{ .Params.image}});"></div>
          {{ end }}

          <section id="post" class="container content-section">
            <header class="post-header">
              <p class="post-meta">{{ .Date.Format "Jan 2, 2006" }}{{ if .Params.author }} • {{ .Params.author }}{{ end }}{{ if .Params.meta }} • {{ .Params.meta }}{{ end }}</p>
            </header>
            <article class="post-content">
              {{ .Content }}
            </article>
          </section>
       </div>
      </div>
    </main>

    {{ partial "footer.html" . }}
    {{ partial "javascript.html" . }}

  </body>
</html>
