<!doctype html>
<html lang="en">

  {{ partial "head.html" . }}

  <body id="updates">


    {{ partial "header.html" . }}

  
  <div class="usa-grid">
    
    <div class="sidenav-parent">
      <div class="usa-width-two-thirds usa-end-row panel content-text">

        <div class="usa-grid">

          <header class="post-header">
            <span class="panel-new-date">{{ .Date.Format "Jan 2, 2006" }}{{ if .Params.author }} • {{ .Params.author }}{{ end }}{{ if .Params.meta }} • {{ .Params.meta }}{{ end }}</span>
          </header>
          <h1>{{ .Title }}</h1>

          {{ if .Params.image }}
          <div class="page--banner" style="background-image: url({{ .Params.image}});"></div>
          {{ end }}

          {{ .Content }}
      </div>
      <div class="usa-width-one-third">
      </div>
    </div>
  </div>

    {{ partial "footer.html" . }}
    {{ partial "javascript.html" . }}

  </body>
</html>

