{% comment %}
This is used for just about every page. It provides the border around the content.
The home page uses wide.html layout, since it extends full width of page
{% endcomment %}

<!DOCTYPE html>

<html lang="en">

{% include meta.html %}

<body>
  {% include header.html %}

  {% include menu.html primary_navigation=site.primary_navigation  secondary_navigation=site.secondary_navigation %}

  <main id="main-content">
    {{ content }}
  </main>

  {% include footer.html %}

  {% include scripts.html %}
</body>

</html>