---
layout: default
---

{% comment %}
This template is for a single page that does not have a date associated with it. For example, an about page.
{% endcomment %}

<div class="usa-layout-docs usa-section bg-accent-warm-light">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      {% case page.sidenav %}
        {% when true %}
          {% include sidenav.html documentation_navigation=site.documentation_navigation %}
        {% when "pages-documentation" %}
          {% include pages/sidenav.html %}
      {% endcase %}

      <div id="main-content" class="usa-layout-docs__main desktop:grid-col-8 usa-prose bg-white padding-y-8 padding-x-4">
        <h1>{{ page.title }}</h1>
        {{ content }}


        <div class="grid-row">
          <div class="grid-col flex-4"></div>
          <div class="grid-col flex-1"><p><a href="{{ site.github_url }}/edit/{{ site.github_branch }}/{{ page.relative_path }}">Suggest edits</a></p></div>
        </div>


      </div>
    </div>
  </div>
</div>