---
layout: default
---

<section>
    <div class="grid-container">
        <h1>You don't have to build your tech from the ground up.</h1>
        <p>
          cloud.gov helps teams build, run, and authorize cloud-ready or legacy government systems quickly and cheaply.
        </p>
        <ul>
          <li>
            <a href="/docs/overview/what-is-cloudgov/">Platform overview</a>
          </li>
          <li>
            <a href="/pricing/">Packages and pricing</a>
          </li>
          <li>
            <a href="/docs/technology/responsibilities/">Security and compliance</a>
          </li>
        </ul>
    </div>
  </section>

  <section>
    <a name="Product"></a>
    <div class="grid-container">
        <div class="grid-row">
          <div class="tablet:grid-col">
            <h2>Compliant from the start</h2>
            <p>
              cloud.gov offers a fast way for federal agencies to host and update websites, APIs, and other applications. Employees and contractors can focus on developing mission-critical applications, leaving server infrastructure management to us.
            </p>
          </div>
          <div class="tablet:grid-col">
            <h2>FedRAMP authorized</h2>
            <p>
            cloud.gov has a FedRAMP Joint Authorization Board (JAB) authorization, which means it complies with federal security requirements. When you build a system on cloud.gov, you leverage this compliance and reduce the amount of work you need to do.
            </p>
          </div>
          <div class="tablet:grid-col">
            <p class="bar-top">
                Follow our <a href="/signup">quickstart guide</a> to start a free trial account and watch <a href="/signup/#tutorials">video tutorials</a> that walk through creating apps in your sandbox.
                <a href="/signup" class="usa-button">Try cloud.gov for free <span>&rarr;</span></a>
              </p>
              <p class="caption bar-bottom">
                A federal email address is required to sign up.
              </p>
          </div>
        </div>
      </div>
  </section>

  <section>
    <h2>Learn more:</h2>
    <div class="grid-container">
        <div class="grid-row">
          <div class="tablet:grid-col">
            <h2 class="bar-top">cloud.gov is great for:</h2>
            <ul>
              <li>
                Easily building new, cloud-native applications
              </li>
              <li>
                Migrating applications to make them scale easily and reduce costs
              </li>
              <li>
                Advancing your agency's use of the cloud through a FedRAMP-authorized platform
              </li>
            </ul>
          </div>
          <div class="tablet:grid-col">
            <ul class="button-list">
              <li>
                <a href="/signup/#tutorials"><i class="fa fa-fw fa-video-camera" aria-hidden="true"></i> Video: What is cloud.gov?</a>
              </li>
              <li>
                <a href="/assets/files/cloudgov-overview-2018.pdf"><i class="fa fa-fw fa-file-pdf-o" aria-hidden="true"></i> PDF: Product overview</a>
              </li>
              <li>
                <a href="/assets/files/cloudgov-customers.pdf"><i class="fa fa-fw fa-file-pdf-o" aria-hidden="true"></i> PDF: Customer stories</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
  </section>
