<!doctype html>
<html lang="en">

  {{ partial "head.html" . }}

  <body>

    {{ partial "header.html" . }}

  <div class="header-view">
    <div class="usa-grid">
      <h1>Updates</h1>
      <p>For blog posts, see <a href="https://18f.gsa.gov/tags/cloud-gov/">cloud.gov on the 18F blog</a>.</p>
    </div>
  </div>
  <div class="usa-grid">
    <div>
      {{ range .Data.Pages }}
      {{ .Render "li" }}
      {{ end }}
    </div>
  </div>

    {{ partial "footer.html" . }}
    {{ partial "javascript.html" . }}

  </body>
</html>
