// Override USWDS mixin to use jekyll-assets asset_url()

@mixin at-font-face($display-name, $file-path, $font-weight, $font-style) {
  @font-face {
    font-family: $display-name;
    font-style: unquote($font-style);
    font-weight: $font-weight;
    font-display: fallback;
    src: asset_url("'#{$file-path}.woff2'") format('woff2'),
      asset_url("'#{$file-path}.woff'") format('woff'),
      asset_url("'#{$file-path}.ttf'") format('truetype');
  }
}
